<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1: October 7, 2025</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>1:00 ADT / 11:30 EDT</td>        <!-- time    -->
        <td>Automating Tasks with the Unix Shell</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>2:30 ADT / 1:00 EDT</td>        <!-- time    -->
        <td>break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>2:45 ADT / 1:15 EDT</td>        <!-- time    -->
        <td>Automating Tasks with the Unix Shell (Continued)</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>4:30 ADT / 3:00 EDT</td>        <!-- time    -->
        <td>END</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2: October 9, 2025</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>1:00 ADT / 11:30 EDT</td>        <!-- time    -->
        <td>Version Control with Git</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>2:30 ADT / 1:00 EDT</td>        <!-- time    -->
        <td>break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>2:45 ADT / 1:15 EDT</td>        <!-- time    -->
        <td>Version Control with Git (Continued)</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3: October 14, 2025</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>1:00 ADT / 11:30 EDT</td>        <!-- time    -->
        <td>Introduction to R &amp; RStudio</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>1:45 ADT / 12:15 EDT</td>        <!-- time    -->
        <td>Continuation of R: Data analysis &amp; Visualization</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>2:30 ADT / 1:00 EDT</td>        <!-- time    -->
        <td>break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>2:45 ADT / 1:15 EDT</td>        <!-- time    -->
        <td>Continuation of R: Data analysis &amp; Visualization</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>4:30 ADT / 3:00 EDT</td>        <!-- time    -->
        <td>END</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4: October 16, 2025</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>1:00 ADT / 11:30 EDT</td>        <!-- time    -->
        <td>Continuation of R: Data analysis &amp; Visualization</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>2:30 ADT / 1:00 EDT</td>        <!-- time    -->
        <td>break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>2:15 ADT / 1:15 EDT</td>        <!-- time    -->
        <td>Continuation of R: Data analysis &amp; Visualization</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>4:20 ADT / 2:50 EDT</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 3   -->
        <td>4:30 ADT / 3:00 EDT</td>        <!-- time    -->
        <td>END</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
